<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Presentations</h5>
      </div>
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-12">
            <div class="card shadow-none">
              <div [style.opacity]="loading ? '0' : '1'">
                <div class="card-header">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
                      <div id="DataTables_Table_0_filter"
                           class="dataTables_filter d-sm-inline-block">
                        <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchPresentation" appTrimLeft>
                      </div>
                    </div>
                    <div class="col-6 col-sm-auto ml-auto text-right pl-0">
                    </div>
                  </div>
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-12">
                      <div class="falcon-data-table table-responsive">
                        <table class="table table-sm table-dashboard data-table fs--1 border-bottom">
                          <thead class="bg-200">
                            <tr>
                              <th class="pr-1 align-middle cursor-pointer" (click)="sortType = 'name'; sortReverse = !sortReverse">
                                Name
                                <span *ngIf="sortType == 'name' && !sortReverse">
                                  <i class="fas fa-sort-up"></i>
                                </span>
                                <span *ngIf="sortType == 'name' && sortReverse">
                                  <i class="fas fa-sort-down"></i>
                                </span>
                                <span *ngIf="sortType != 'name'">
                                  <i class="fas fa-sort"></i>
                                </span>
                              </th>
                              <th class="pr-1 align-middle cursor-pointer" (click)="sortType = 'desc'; sortReverse = !sortReverse">
                                Description
                                <span *ngIf="sortType == 'desc' && !sortReverse">
                                  <i class="fas fa-sort-up"></i>
                                </span>
                                <span *ngIf="sortType == 'desc' && sortReverse">
                                  <i class="fas fa-sort-down"></i>
                                </span>
                                <span *ngIf="sortType != 'desc'">
                                  <i class="fas fa-sort"></i>
                                </span>
                              </th>
                              <th class="pr-1 align-middle cursor-pointer" (click)="sortType = 'createDate'; sortReverse = !sortReverse">
                                Create Date
                                <span *ngIf="sortType == 'createDate' && !sortReverse">
                                  <i class="fas fa-sort-up"></i>
                                </span>
                                <span *ngIf="sortType == 'createDate' && sortReverse">
                                  <i class="fas fa-sort-down"></i>
                                </span>
                                <span *ngIf="sortType != 'createDate'">
                                  <i class="fas fa-sort"></i>
                                </span>
                              </th>
                            </tr>
                          </thead>
                          <tbody id="presentationTbody">
                            <tr class="btn-reveal-trigger" *ngFor="let p of presentationData |filter: searchPresentation | orderBy:sortType:sortReverse | paginate: presentationConfig">
                              <th class="align-middle">
                                <a href="javascript:void(0)" (click)="presentationView(p.file)">
                                  {{p.name}}
                                </a>
                              </th>
                              <td class="align-middle">
                                {{p.desc}}
                              </td>
                              <td class="align-middle">
                                {{p.createDate}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table *ngIf="presentationData?.length==0" class="w-100 text-center">
                          <tr>
                            <td colspan="14" class="p-2">
                              <p class="text-center font-bold font-size18px m-0">No data available</p>
                              <p class="text-center m-0 text-gray font-size13px">There is not data to show you right now</p>
                            </td>
                          </tr>
                        </table>
                        <pagination-template #p="paginationApi" [id]="presentationConfig.id" maxSize="5" (pageChange)="presentationConfig.currentPage = $event"
                                             (pageBoundsCorrection)="presentationConfig.currentPage = $event">
                          <div class="row mx-1 align-items-center justify-content-center justify-content-md-between" *ngIf="p.pages?.length > 0">
                            <div class="col-auto mb-2 mb-sm-0">
                              <div class="dataTables_info">
                                Showing {{((p.getCurrent()-1)*presentationConfig.itemsPerPage)+1}}
                                to {{(p.getCurrent()*presentationConfig.itemsPerPage) < p.getTotalItems() ? (p.getCurrent()*presentationConfig.itemsPerPage) : p.getTotalItems()}} of {{p.getTotalItems()}} entries
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="paging_simple_numbers pt-3">
                                <ul class="pagination pagination-sm">
                                  <li class="paginate_button page-item previous" [class.disabled]="p.isFirstPage()">
                                    <a class="page-link" (click)="p.previous()"> < </a>
                                  </li>
                                  <li class="paginate_button page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                                    <a class="page-link" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</a>
                                    <a class="page-link" *ngIf="p.getCurrent() === page.value">{{ page.label }}</a>
                                  </li>
                                  <li class="paginate_button page-item next" [class.disabled]="p.isLastPage()">
                                    <a class="page-link" (click)="p.next()"> > </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </pagination-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ngx-loading [show]="loading"></ngx-loading>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal User-->
<!--<div class="modal fade px-0" style="padding-left:0!important;padding-right:0!important"
     id="presentationView" tabindex="-1" role="dialog" aria-labelledby="presentationView" data-backdrop="static" data-keyboard="true"
     aria-hidden="true">
  <div class="modal-dialog pdf-view-modal-width" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Presentation View
        </h5>
        <button class="close" type="button" aria-label="Close" data-dismiss="modal">
          <span class="font-weight-light" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" name="presentationModal" id="presentationModalBody">
        <div class="row">
          <div class="col-12">
            <div class="pdf-container overflow-auto" style="height: 70vh;">
              <pdf-viewer [src]="pdfViewSrc" [original-size]="false" [autoresize]="true"></pdf-viewer>-->
<!--[zoom-scale]="page-width"-->
<!--</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>-->

<!--Modal Presentation-->
<div class="modal fade px-0" style="padding-left:0!important;padding-right:0!important"
     id="presentationView" tabindex="-1" role="dialog" aria-labelledby="presentationView" data-backdrop="static" data-keyboard="true"
     aria-hidden="true">
  <div class="modal-dialog pdf-view-modal-width" role="document">
    <div class="presentation-modal-content presentation-normal-size-border">
      <div class="modal-header" *ngIf="fullScreenOpe==0">
        <h5 class="modal-title" id="exampleModalLabel">
          Presentation View
        </h5>
        <button class="close" type="button" aria-label="Close" data-dismiss="modal">
          <span class="font-weight-light" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body position-relative" name="presentationModal" id="presentationModalBody">
        <button class="close position-absolute right50px text-dark z-index1000" type="button" *ngIf="fullScreenOpe==1">
          <span class="font-weight-light position-fixed p-1" (click)="fullScreenOperation(1)">&times;</span>
        </button>
        <button class="close position-absolute right50px text-dark z-index1000" type="button" *ngIf="fullScreenOpe==0">
          <span (click)="fullScreenOperation(0)"><i class="fas fa-expand"></i></span>
        </button>
        <div class="row">
          <div class="col-12">
            <div class="pdf-container overflow-auto" style="height: 70vh;">
              <pdf-viewer [src]="pdfViewSrc"
                          (after-load-complete)="afterRenderPresentation()"
                          [autoresize]="true"
                          [show-all]="true"
                          [original-size]="false"
                          [render-text]='true'
                          [fit-to-page]="true"
                          style="display:block">
              </pdf-viewer>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" *ngIf="fullScreenOpe==0">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
